@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'telegrafultrabold';
  src:
    url('/fonts/telegraf_ultrabold_800-webfont.woff2') format('woff2'),
    url('/fonts/telegraf_ultrabold_800-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* recommended add: FOUT/FOIT avoid karne ke liye */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   /* Colors */
  --color-primary: #9c2068;
  --color-primaryDark: #851a58;

  --color-secondary: #32488b;
  --color-secondaryDark: #052c65; 

  --color-gray-m-100: #EEF2F6;
  --color-gray-m-800: #202939;
  --color-gray-m-700: #364152;
  --color-gray-m-200: #E3E8EF;
  --color-gray-m-900: #121926;
  --color-gray-m-300: #CDD5DF;
  --color-gray-m-600: #4B5565;
  --color-gray-m-400: #9AA4B2;

  --color-midNight: #011f3d;
  --color-navyBlue: #0a152f;
  --color-pearl: #f7f1f3;
  --color-haiti: #0C1A3D;
  --color-aliceBlue: #eff6ff;

  --color-prussianBlue: #043956;
  --color-catalineBlue: #052c65;
  --color-blueChalk: #e1edff;

  --color-nebula: #D0D5DD;
  --color-mirage: #212529;
  --color-gravel: #494949;
  --color-alabaster: #f6fbff;
  --color-silkBlue: #488dca;
  --color-whiteSmoke: #f3f4f6;
  --color-fantacy: #f2f4f7;
  --color-mabel: #e1f3f5;

  --color-examRed: #DC2626;
  --color-examGreen: #16A34A;
  --color-sapphireBlue: #3255B5;

  --color-iceBerg: #ddf1ff;
  --color-pattensBlue: #def1ff;
  --color-carbonGray: #5b5959;
  --color-astronautBlue: #043956;

  --color-catSkillWhite: #F2F7F2;
  --color-lavenderBlush: #F7F2F2;
  --color-mistBlue: #6B7280;
  --color-coralBlue: #93def6;
  --color-oysterBlue: #E0F8FF;

  --color-platinum: #dee2e6;

  /* font types */
   --font-poppins: "Poppins", sans-serif;
   --font-telegraf: 'telegrafultrabold', sans-serif;

   /* shadows */
   --shadow-imgShadow: 0 25px 25px #9e2e2e16;

   /* breakpoints */
  /* --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-2xl: 1320px; */

--spacing-8xl: 1320px;

/* Background Images */
   --background-image-design: url("/images/homepageimages/design.png");
  --background-image-bannerPricing: url("/images/pricingPageImages/banner-product.jpg");
  --background-image-bannerCloud: url("/images/faqsPageImages/bannerWithCloud.png");
  --background-image-bannerContactUs: url("/images/contactUsPageImages/bannerContactUs.png");


}


@utility list-checkmark {
  list-style-image: url("/images/checkMark.svg");
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-telegraph {
  font-family: 'telegrafultrabold' !important;
}


.custom-list {
    list-style: none;
    padding: 0;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
   
  }
  
  .custom-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url('/images/checkMark.svg') no-repeat center center;
    background-size: cover;
  }

  .custom-list.pricing li::before {
    background: url('/images/pricingPageImages/pricingCheck.svg') no-repeat center center;
  }


  .custom-list.product li::before {
    background: url('/images/productCheck.svg') no-repeat center center;
  }

  .custom-list.blue li::before {
    background: url('/images/blueCheck.svg') no-repeat center center;
  }